@import "tailwindcss";

@theme {
    --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
    --font-display: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, monospace;

    --color-brand-main: hsl(191, 100%, 14%);
    --color-brand-onyx: hsl(75, 12%, 7%);

    --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
    background-color: hsl(75, 12%, 7%);
}
